<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capteur1</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="margin: 0px !important; background-color:#FFF6EA;">
<header style="background-color:#1ABC9C;">
    <div class="conteneur">
        <div class="flex">
            <h1 style="margin-top: 0px !important; margin-bottom: 0px !important;"> ATMOS</h1>
        </div>
        <div class="flex">
            <a href="/">
                <p>Accueil</p>
            </a>
        </div>
        <div class="flex">
            <p>Plan</p>
        </div>
        <div class="flex">
            <p>Mon compte</p>
        </div>
    </div>

</header>
<section>
{% for donnees in data %}
{% if donnees['NUM_C'] == '62182233' %}
<p style="margin-top: 50px !important margin-bottom: 0px;">Vous affichez la température et le taux d’humidité du capteur <big><big>EXTÉRIEUR.</big></big></p>
<div class="conteneur">
    <div class="text2">
        <td>
              <p>Pictogramme</p>
        </td>
    </div>
    <div class="text2">
        <td>
              <p>Température</p>
              <h1>{{ donnees['TEMP_R'] }} °C</h1>
        </td>
    </div>
    <div class="text2">
        <td>
              <p>Humidité</p>
              <h1>{{ donnees['HUM_R'] }} %</h1>
        </td>
    </div>
</div>
    {% endif %}
{% endfor %}
    <div class="histo">
        <td>
            <form action="/histocp1">
                <input type="submit" id="histocp1" name="histocp1" value="Afficher l'historique des données">
            </form>
        </td>
    </div>
</section>


<footer style="background-color:#1ABC9C;">
<div class="conteneur">
    <div class="flex">http://127.0.0.1:8889</div>
    <div class="flex">
        <SCRIPT LANGUAGE="JavaScript">
            var maintenant=new Date();
            var jour=maintenant.getDate();
            var mois=maintenant.getMonth()+1;
            var an=maintenant.getFullYear();
            document.write(jour,"/",mois,"/",an);
        </SCRIPT>
    </div>
    <div class="flex">
        <SCRIPT LANGUAGE="JavaScript">
            var maintenant=new Date();
            var heure=maintenant.getHours();
            var minute=maintenant.getMinutes();
            document.write(heure,":",minute);
        </SCRIPT>
    </div>
</footer>
</body>

</html>