<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hitogramme CP1</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body style="margin: 0px !important; background-color:#FFF6EA;">
<header style="background-color:#1ABC9C;">
    <div class="conteneur">
        <div class="flex">
            <h1 style="margin-top: 0px !important; margin-bottom: 0px !important;"> ATMOS</h1>
        </div>
        <div class="flex">
            <a href="/">
                <p>Accueil</p>
            </a>
        </div>
        <div class="flex">
            <p>Plan</p>
        </div>
        <div class="flex">
            <p>Mon compte</p>
        </div>
    </div>

</header>
<section>
  <img src="{{url_for('static', filename='test.png')}}" align="middle"/>
</section>


<footer style="background-color:#1ABC9C;">
<div class="conteneur">
    <div class="flex">http://127.0.0.1:8889</div>
    <div class="flex">
        <SCRIPT LANGUAGE="JavaScript">
            var maintenant=new Date();
            var jour=maintenant.getDate();
            var mois=maintenant.getMonth()+1;
            var an=maintenant.getFullYear();
            document.write(jour,"/",mois,"/",an);
        </SCRIPT>
    </div>
    <div class="flex">
        <SCRIPT LANGUAGE="JavaScript">
            var maintenant=new Date();
            var heure=maintenant.getHours();
            var minute=maintenant.getMinutes();
            document.write(heure,":",minute);
        </SCRIPT>
    </div>
</footer>
</body>

</html>